* {
  margin: 0;
  padding: 0;
}

body {
  font: normal "Andale Mono", AndaleMono, monospace;
  color: #fff;

  background-color: #374954;
  text-align: center;
}

.container {
  margin-top: 5%;
}

h1 {
  font-size: 100px;
  border: 10px solid #6bbe92;
  padding: 5rem 1rem;
  width: 50%;
  margin: 0 auto;
  background-color: #20262e;
}

h4 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 60px;
    padding: 3rem 1rem;
    width: 70%;
  }

  h4 {
    font-size: 4rem;
  }

  .container {
    margin-top: 30%;
  }
}
